.vegetable-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.vegetable-container > .vegetable-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.vegetable-container > .vegetable-list > .vegetable-card {
  margin-top: 20px;
}
