.vegetable-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 100%;
}

.vegetable-container > .vegetable-list {
  display: flex;
  /* width: 100%; */
  max-width: 1580px;
  flex-wrap: wrap;
}

.vegetable-container > .vegetable-list > .vegetable-card {
  margin-top: 20px;
  margin-left: 20px;
}
